<!DOCTYPE html>
<html lang="en">

<head>

    <title>Peluditos</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/slides.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <div class="app">
        <header class="app__header">
            <nav class="nav">
                <img src="/imag/logo.png" alt="" class="logo">
                <a href="" class="nav__item">Inicio</a>
                <a href="" class="nav__item">Sobre nosotros</a>
                <a href="" class="nav__item">Sedes</a>
                <a href="" class="nav__item">Peluditos</a>
                <button class="nav__boton">Adopta</button>
            </nav>

            <div class="dropdown">
                    <span>Mouse over me</span>
                    <div class="dropdown-content">
                      <p>Hello World!</p>
                    </div>
                  </div>
        </header>
        <div class="body">
            <section class="body__top">
                <div class="up__base">
                    <p class="up__uno">Llena de <span> amor </span>tu hogar </p>
                    <div class="up__parrafo">
                        <p class="up__dos">Cambiaras mas de una vida al adoptar</p>
                    </div>

                </div>
                <div class="top__down">
                    <div><img src="./imag/peluditos.png" alt="" class="down__uno"></div>
                    <div class="top__down__estrella"><img src="./imag/estrella.png" alt="" class="top__down__imagen">
                    </div>
                </div>

            </section>


            <section class="app__sidebar">

            </section>

            <section class="app__content">
                <article class="contar">
                    <section class="contador">
                        <div id="count_click1" class="contador__polig"> 1 </div>
                        <br>
                        <div id="count_click2" class="contador__polig"> 0 </div>
                        <br>
                        <div id="count_click3" class="contador__polig"> 0 </div>
                        <br>
                        <div id="count_click4" class="contador__polig"> 0 </div>
                    </section>
                    <section class="contar__texto">
                        <p class="text">Son los peluditos que han encontrado un hogar este año</p>
                    </section>
                    <section class="contar__boton__sec">
                        <button name="count_click" type="button" class="contar__boton">Mas informacion</button>
                    </section>
                </article>

                <article class="interac">
                    <figure class="cd-image-container">
                        <img src="./imag/antes.png" alt="">
                        <span class="cd-image-label" data-type="original">Sin ti</span>

                        <div class="cd-resize-img">
                            <!-- the resizable image on top -->
                            <img src="./imag/despues.png" alt="">
                            <span class="cd-image-label" data-type="modified">Con tigo</span>
                        </div>

                        <span class="cd-handle"></span> <!-- slider handle -->
                    </figure>
                </article>

                <article class="lista">
                    <div>
                        <h3 class="lista__titulo">Conoce a algunos de nuestros peluditos</h3>
                    </div>
                    <div class="lineas">
                        <div class="vertical__uno">

                        </div>
                        <div class="cuadros">
                            <div class="columnas">
                                <article class="gato columnas__col">
                                    <section style="background-image: url(../imag/tommy.jpg)" class="gato__imagen">
                                    </section>
                                    <section class="gato__info">
                                        <p class="gato__desc">Tommy</p>
                                        <button class="modalBtn">Mas informacion</button>
                                    </section>
                                </article>

                                <article class="gato columnas__col">
                                    <section style="background-image: url(../imag/princesa.jpg)" class="gato__imagen">
                                    </section>
                                    <section class="gato__info">
                                        <p class="gato__desc">Princesa</p>
                                        <button class="modalBtn">Mas informacion</button>
                                    </section>
                                </article>

                                <article class="gato columnas__col">
                                    <section style="background-image: url(../imag/cobu.jpg)" class="gato__imagen">
                                    </section>
                                    <section class="gato__info">
                                        <p class="gato__desc">Cobu</p>
                                        <button class="modalBtn">Mas informacion</button>
                                    </section>
                                </article>
                            </div><!--  fin de columnas -->

                            <div class="columnas">
                                <article class="gato columnas__col">
                                    <section style="background-image: url(../imag/zeus.jpg);" class="gato__imagen">
                                    </section>
                                    <section class="gato__info">
                                        <p class="gato__desc">Zeus</p>
                                        <button class="modalBtn">Mas informacion</button>
                                    </section>
                                </article>

                                <article class="gato columnas__col">
                                    <section style="background-image: url(../imag/pelus.jpg)" class="gato__imagen">
                                    </section>
                                    <section class="gato__info">
                                        <p class="gato__desc">Pelus</p>
                                        <button class="modalBtn">Mas informacion</button>
                                    </section>
                                </article>

                                <article class="gato columnas__col">
                                    <section style="background-image: url(../imag/tut.jpg)" class="gato__imagen">
                                    </section>
                                    <section class="gato__info">
                                        <p class="gato__desc">Tut</p>
                                        <button class="modalBtn">Mas informacion</button>
                                    </section>
                                </article>
                            </div><!--  fin de columnas -->
                            <div class="vertical__dos">

                            </div>
                        </div><!--  fin de lineas -->

                    </div>
                </article>


                <article class="beneficios">
                    <div class="beneficios__info">
                        <h3 class="beneficios__titulo">Beneficios de adoptar</h3>
                        <p class="beneficios__texto">Adoptar una mascotas ofrecen muchos beneficios para las personas,
                            especialmente cuando en
                            casa existen niños pequeños, dado que ello les enseña a ser responsables y aprender a
                            respetar a los animales.</p>
                        <p class="beneficios__texto">1. Se vuelven personas sociables <br>
                            Adquieren habilidades para cuidar de otros, al tiempo que demuestran una mejor empatía y una
                            actitud más responsable frente a su salud y bienestar.
                        </p>
                        <p class="beneficios__texto">2. Aprender a ser responsable <br>
                            La interacción con una mascota forma parte de su proceso de aprendizaje,y éste se basa en
                            experiencias positivas ligadas a episodios significativos compartidos con su mascota.
                        </p>
                        <p class="beneficios__texto"> 3. Une a la familia <br>
                            Crean nuevos espacios de comunicación donde participan todo los miembros de la familia. A
                            ello
                            se suman actividades divertidas, conversaciones amistosas y ejercicio.
                        </p>
                        <p class="beneficios__texto">
                            4. Disfrutas de compañía<br>
                            Factor muy importante si se considera que la sociedad moderna cada vez más se enfrente a la
                            soledad como parte de su experiencia de vida.
                        </p>

                        <img src="./imag/certificado.png" alt="" class="beneficios__certificado">
                    </div>
                    <div class="publicidad2">
                        <img src="" alt="">
                    </div>
                </article>
                <article>
                    <img src="" alt="">
                    <img src="" alt="">
                </article>

                <footer class="app__footer">

                </footer>
            </section>

            <!-- Aqui empiezan los modals -->
            <div class="modal">
                <div class="modal__contenido">
                    <div class="modal__cuerpo">
                        <span class="modal__cerrar">&times;</span>
                        <!--para hacer la x de cerrar -->
                        <article class="">
                            <section style="background-image: url(../imag/tommy.jpg)" class="gato__imagenM">
                            </section>
                            <section class="modal__info">
                                <p class="desc__titulo">Tommy</p>
                                <p class="modal__desc">Edad: 11 meses</p>
                                <p class="modal__desc">Vacunas: al dia</p>
                                <p class="modal__desc">Caracteristacas: Jugueton y amigable</p>
                                <button class="modal__boton">Adoptar</button>
                            </section>
                    </div>
                </div>

            </div>


            <!-- Aqui empiezan los modals -->
            <div class="modal">
                <div class="modal__contenido">
                    <div class="modal__cuerpo">
                        <span class="modal__cerrar">&times;</span>
                        <!--para hacer la x de cerrar -->
                        <article class="">
                            <section style="background-image: url(../imag/princesa.jpg)" class="gato__imagenM">
                            </section>
                            <section class="modal__info">
                                <p class="desc__titulo">Princesa</p>
                                <p class="modal__desc">Edad: 2 años</p>
                                <p class="modal__desc">Vacunas: al dia</p>
                                <p class="modal__desc">Caracteristacas: tranquila, dormilona</p>
                                <button class="modal__boton">Adoptar</button>
                            </section>
                    </div>
                </div>

            </div>


            <!-- Aqui empiezan los modals -->
            <div class="modal">
                <div class="modal__contenido">
                    <div class="modal__cuerpo">
                        <span class="modal__cerrar">&times;</span>
                        <!--para hacer la x de cerrar -->
                        <article class="">
                            <section style="background-image: url(../imag/cobu.jpg)" class="gato__imagenM">
                            </section>
                            <section class="modal__info">
                                <p class="desc__titulo">Cobu</p><br>
                                <p class="modal__desc">Edad: 1 año</p><br>
                                <p class="modal__desc">Vacunas: al dia</p><br>
                                <p class="modal__desc">Caracteristacas: amigable y consentido</p><br>
                                <button class="modal__boton">Adoptar</button>
                            </section>
                    </div>
                </div>

            </div>


            <!-- Aqui empiezan los modals -->
            <div class="modal">
                <div class="modal__contenido">
                    <div class="modal__cuerpo">
                        <span class="modal__cerrar">&times;</span>
                        <!--para hacer la x de cerrar -->
                        <article class="">
                            <section style="background-image: url(../imag/zeus.jpg)" class="gato__imagenM">
                            </section>
                            <section class="modal__info">
                                <p class="desc__titulo">Zeus</p>
                                <p class="modal__desc">Edad: 8 meses</p>
                                <p class="modal__desc">Vacunas: al dia</p>
                                <p class="modal__desc">Caracteristacas: Muy energetico</p>
                                <button class="modal__boton">Adoptar</button>
                            </section>
                    </div>
                </div>

            </div>


            <!-- Aqui empiezan los modals -->
            <div class="modal">
                <div class="modal__contenido">
                    <div class="modal__cuerpo">
                        <span class="modal__cerrar">&times;</span>
                        <!--para hacer la x de cerrar -->
                        <article class="">
                            <section style="background-image: url(../imag/pelus.jpg)" class="gato__imagenM">
                            </section>
                            <section class="modal__info">
                                <p class="desc__titulo">Pelus</p>
                                <p class="modal__desc">Edad: 1 año</p>
                                <p class="modal__desc">Vacunas: al dia</p>
                                <p class="modal__desc">Caracteristacas: dormilon</p>
                                <button class="modal__boton">Adoptar</button>
                            </section>
                    </div>
                </div>

            </div>


            <!-- Aqui empiezan los modals -->
            <div class="modal">
                <div class="modal__contenido">
                    <div class="modal__cuerpo">
                        <span class="modal__cerrar">&times;</span>
                        <!--para hacer la x de cerrar -->
                        <article class="">
                            <section style="background-image: url(../imag/tut.jpg)" class="gato__imagenM">
                            </section>
                            <section class="modal__info">
                                <p class="desc__titulo">Tut</p>
                                <p class="modal__desc">Edad: 6 meses</p>
                                <p class="modal__desc">Vacunas: al dia</p>
                                <p class="modal__desc">Caracteristacas: tranquilo</p>
                                <button class="modal__boton">Adoptar</button>
                            </section>
                    </div>
                </div>

            </div>



            <footer class="pie">
                <div class="search-text">
                    <div class="container">
                        <div class="row text-center">
                            <div class="form">
                                <h4>REGISTRATE</h4>
                                <form id="search-form" class="form-search form-horizontal">
                                    <input type="text" class="input-search" placeholder="Correo">
                                    <button type="submit" class="btn-search">Enviar</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="footer-top">
                    <div class="container1">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                            <a href="#"><i class="fa fa-facebook fa-2x"></i>Facebook</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                            <a href="#"><i class="fa fa-twitter fa-2x"></i>Twitter</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                            <a href="#"><i class="fa fa-github fa-2x"></i>Github</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                            <a href="#"><i class="fa fa-google-plus fa-2x"></i>Google</a>
                        </div>
                    </div>
                </div>

                <div class="container" style="border-top:1px solid grey;">
                    <div class="row text-center">
                        <div class="col-lg-6 col-lg-offset-3">
                            <ul class="menu">

                                <li>
                                    <a href="#">Home</a>
                                </li>

                                <li>
                                    <a href="#">About</a>
                                </li>

                                <li>
                                    <a href="#">Blog</a>
                                </li>

                                <li>
                                    <a href="#">Gallery</a>
                                </li>

                                <li>
                                    <a href="#">Contact</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </footer>



        </div><!--  fin de body -->
    </div> <!--  fin de app -->
    <script src="/main.js"></script>
</body>

</html>