<!DOCTYPE html>
<html lang="en">

<head>

    <title>Tienda Peluditos</title>
    <link rel="stylesheet" href="/styles/tienda.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

    <nav class="nav">
        <img src="./imag/logo.png" alt="" class="logo">
        <a href="" class="nav__item">Inicio</a>
        <a href="" class="nav__item">Sobre nosotros</a>
        <a href="" class="nav__item">Sedes</a>
        <a href="" class="nav__item">Amigos</a>
    </nav>


    <div class="outer-container">
        <div class="banner" data--200-top="opacity: 1;" data-top-bottom="opacity: 0;">
            <div class="banner__image" data-0="transform: translateY(0px);"
                data-top-bottom="transform: translateY(300px);"
                style="background-image:url(http://www.zastavki.com/pictures/originals/2013/Nature___Seasons___Autumn_The_road_in_the_woods_in_autumn_043605_.jpg);">
            </div>
            <div class="banner__caption">
                <h1>Peluditos</h1>
                <h3>Centro de adopcion</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur magni dolorem reiciendis ea
                    iste tenetur consequatur, ipsam maiores, rerum molestiae facere incidunt placeat? Inventore delectus
                    deleniti consectetur, atque iste temporibus?
                </p>
            </div>
        </div>
    </div>

    <div class="filtros">
        <div class="switch">
            <input name="radio" type="radio" value="optionone" id="optionone" checked>
            <label for="optionone">Femenino</label>

            <input name="radio" type="radio" value="optiontwo" id="optiontwo">
            <label for="optiontwo" class="right">Masculino</label>

            <span aria-hidden="true"></span>
        </div>

        <div class="switch2">
            <input name="radio" type="radio" value="optionone" id="optionone" checked>
            <label for="optionone">Gato</label>

            <input name="radio" type="radio" value="optiontwo" id="optiontwo">
            <label for="optiontwo" class="right">Perro</label>

            <span aria-hidden="true"></span>
        </div>

        <div class="listado">
            <div class="fila1">
                <div>
                    <section class="imagen"></section>
                    <section class="nombre"></section>
                    <section class="info"></section>
                    <section class="boton">

                    </section>
                </div>

            </div>
            <div class="fila2"></div>
            <div class="fila3"></div>
        </div>


    </div>


    <script src="/scripts/tienda.js"></script>
</body>

</html>