$azul: #496eb5; 
$naranja: #ec6c24;
$crema: #edd29b;
$blanco: #ffffff;
$negro: #231f20;


html{
  margin: 2px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
    font-size: 18px;
    line-height: 1.4;
  }
  
  * {
    box-sizing: border-box;
  }


.nav{
    display: block;
    font-size: 20px;
    color: $negro;
    background: $crema;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    align-items: center;


    .logo{
      width: 110px;
    }

  &__lupa{
    width: 60px;
  }

  &__pata{
    width: 80px;
  }

    &__item{
      text-decoration: none;   
      margin: 5%;
      color: $negro;
    }

  }

  .nav__item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.nav__item:hover::after {
    width: 100%;
    //transition: width .3s;
}

.nav__lupa:hover {
  transform: scale(1.2); 
}

.nav__pata:hover {
  transform: scale(1.2); 
}

////// fin de nav 

.carro--flotante{
  display: flex;
  flex-direction: row;
background-color: $crema;
  position: fixed;
  right: 0px;
  top: 300px;
  z-index: 100;

}
.carro__imagen{
  width: 100px;
}
.carro__num{
  font-size: 30px;
}

////// fin de carro


.producto{
margin-top: 1%;
padding: 0.5%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
border:3px solid $azul;


&__uno{
display: flex;
flex-direction: column;
justify-content: center;
flex-basis: 30%;
align-items: center;
}

&__texto{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;

  &__img{
    height: 100px;
    width: 100px;
  }
}

&__foto{
  background: lightgreen;
  width: 500px;
}

}


.purchase{
  //background-color: #496eb5;
  margin: 5px;
  display: flex;
  flex-basis: 30%;
  align-items: flex-start;

}
.purchase-description{
  text-decoration: none !important;
}
.purchase ul {
  display:table;
  justify-content: center;

}
.purchase li {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
  display:table-cell;
  width: 400px;
  -webkit-transition: 0;
  -webkit-transition: all 0.25s, color 0s !important;
  -moz-transition: all 0.25s, color 0s !important;
  -o-transition: all 0.25s, color 0s !important;
  transition: all 0.25s, color 0s !important;
  position:relative;
  z-index:0;
  border:1px solid #BBB;
}

.purchase li:first-child {
  position:relative;
  right:-1px;	
}
.purchase li:last-child {
  position:relative;
  left:-1px;	
}


.purchase li:hover {
  box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
  z-index:1;
  color:#fff;
  background:#E85700;
  border-color:#E85700;
  -webkit-transform:scale(1.05);
}

.purchase li * {
  -webkit-transition: 0 !important;
  -moz-transition: 0 !important;
  -o-transition: 0 !important;
  transition: 0 !important;
}

.purchase li:hover * {
  color:#fff !important;
  border-color:rgba(255, 255, 255, 0.27) !important;
}



.purchase li strong {
  font-size:30px;
  text-transform:uppercase;
  color: $azul;
  letter-spacing:2.4px;
  line-height:45px;
  font-weight:400;
  margin-bottom: 25px;
  display: inline-block;
}

.purchase__item{
  text-decoration: none;
  align-content: center;
  align-items: center;

}
.purchase ul .purchase-description {
  justify-content: center;
  justify-items: center;
  display:block;
  font-size:25px;
  line-height:40px;
  text-transform: capitalize;
  text-decoration: none;
}

.purchase .purchase-price {
  font-size:50px;
  letter-spacing:2px;
  padding-top:20px;
  display:block;
  font-weight:400;
  padding-bottom:12px;
}
.purchase .purchase-button {
  text-transform:uppercase;
  font-size:19px;
  color:#2F3740;
  text-decoration:none;
  line-height:1;
  padding:28px 0 24px;
  border-top:1px solid #bbb;
  width:100%;
  display:inline-block;
  margin-top:6px;
  display:block;
}
.purchase li:hover .purchase-button {

  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  transition: 0;
}


.purchase ul a:hover {
  color:#E85700;
}

.purchase ul a, .purchase ul a:hover .purchase-price, .purchase ul a:hover .purchase-description {
  color:#6C6C6C;
}

.lista_boton{
  padding: 0.8em 0em;
  width:200px;
  background: #ff6e00;
  border-radius:15px;
  border:0;
  color:#fff;
  font-size:16px;
  font-family: Arial,Helvetica,sans-serif;
  font-weight:bold;
  cursor:pointer;
  margin:1em 2em;
  text-transform:uppercase;
}
.light{
background: -moz-linear-gradient(-45deg,  #ff6e00 0%, #ff6e00 40%, #ffffff 50%, #ff6e00 60%, #ff6e00 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff6e00), color-stop(40%,#ff6e00), color-stop(50%,#ffffff), color-stop(60%,#ff6e00), color-stop(100%,#ff6e00));
background: -webkit-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -o-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -ms-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: linear-gradient(135deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e00', endColorstr='#ff6e00',GradientType=1 );
background-repeat: no-repeat;  
background-position:0px;
background-size:300%;  
}

.light:hover{
animation:light 1s;
-webkit-animation:light 1s;

}
@keyframes light {
0% {
    background-position:-600px; 
}
100% { 
    background-position:0px; 
}
}
    
@-webkit-keyframes light {
0% {
    background-position:-600px; 
}
100% { 
    background-position:0px; 
}
}










.pie{
  display: flex;
  flex-direction: column;
  height: 180px;
  background-color: $crema;
  
  }
  .search-text{
    height: 100px;
    padding-bottom:30px;
  }
   
  .search-text .input-search{
   height:45px;
   width:20%;
   padding-left:20px;
  color: $azul;
  } 
  
  .search-text .btn-search{
     background:$naranja;
     border:none;
   color:#FFF;
   height: 45px;
     width: 80px;
  }
  
  .search-text h4{
     color:$azul;
     font-weight: 700;
  }
  
  footer{
   background-color: $crema;
    //padding: 60px 0px;
  }
  
  .container1{
    margin: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  footer ul{
     list-style:none;
     margin:0 auto;
     display:inline-block;
     padding-top:50px;
  }
  
  footer ul li{
     float:left;
  }
  
  footer ul li a{
   color:#b1aca1;
     padding:20px;
  }
  
  footer ul li a:hover{
   color:#7dabdb;
   text-decoration:none;
  }
  
  .footer-top{
   padding-bottom:50px;
  }
  
  .footer-top .fa{
     font-size:18px;
     color: #FFF;
     padding-right:10px;
  }
  
  .footer-top a{
     color:#FFF;
     background: $azul; 
     padding: 10px;
  }
  
  .footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
   text-decoration:none;
  }
  
  .copyright{
    background-color:#f0f0f0;
  }
  
  .copyright p{
   font-size:12px;
   padding:15px 0 10px 0;
  }
  

  
  .dropdown {
    display: none;
    position: relative;
    //display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }







