$azul: #496eb5; 
$naranja: #ec6c24;
$crema: #edd29b;
$blanco: #ffffff;
$negro: #231f20;


html{
  margin: 2px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
    font-size: 18px;
    line-height: 1.4;
  }
  
  * {
    box-sizing: border-box;
  }
  
/////// inicio nav
  .nav{
    display: block;
    font-size: 20px;
    color: $negro;
    background: $crema;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    align-items: center;


    .logo{
      width: 110px;
    }

  &__lupa{
    width: 60px;
  }

  &__pata{
    width: 80px;
  }

    &__item{
      text-decoration: none;   
      margin: 5%;
      color: $negro;
    }

  }

  .nav__item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.nav__item:hover::after {
    width: 100%;
    //transition: width .3s;
}

.nav__lupa:hover {
  transform: scale(1.2); 
}

.nav__pata:hover {
  transform: scale(1.2); 
}

////////////////fin de nav


  .outer-container {
    width: 100%;
    min-height: 600px;
  }
  
  .banner {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    background-color: #000;
    transform-style: preserve-3d;
    transform: translatez(0);
      
    &__image {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 800px;
      z-index: 10;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.8;
      transform: translatez(0);
    }
    
    &__caption {
      font-family: 'Poppins', sans-serif;
      width: 45%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(255,255,255, 0.7);
      height: auto;
      z-index: 20;
      text-align: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -10px;
      padding-bottom: 30px;
      padding-left: 50px;
      padding-right: 20px;
      
      & h1 {
        color: $naranja;
        font-size: 82px;
        font-weight: 30;
        letter-spacing: 1px;
        margin-bottom: 0;
        padding-top: 20px;
        margin-top: 20px;
        padding-right: 30px;
        line-height: 80px;

      }
      & h3{
        margin-top: 0;
        color: $azul;
        letter-spacing: 7px;
        font-size: 25px;
        font-weight: lighter; 
      }

      & p {
        color: $negro;
        padding-right: 30px;
      }
      
    }
  }

  .filtros{
    height: 150px;
    margin: 1%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .filtrosUno{
    display: flex;
    height: 130px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  @mixin clearfix {
    zoom: 1;
    &:before,
    &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }
    &:after {
      clear: both;
    }
  }
  $background: #007DA6;
  $switchbg: #496eb5;
  $white: #252222;


  .switchMacho {
    background-color: $azul;
    width: 200px;
    display: inline-block;
    border-radius: 20px;
    height: 50px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      padding: 5px;
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color:$negro;
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $negro;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 20px;
      background-color: #ffffff;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 20px;
        transition: all 200ms ease;
      }
    }
  }

  .switchHembra {
    background-color: $naranja;
    width: 200px;
    display: inline-block;
    border-radius: 20px;
    height: 50px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      padding: 5px;
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color:$negro;
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $negro;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 20px;
      background-color: #ffffff;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 20px;
        transition: all 200ms ease;
      }
    }
  }

  .switchGato {
    background-color: $azul;
    width: 200px;
    display: inline-block;
    border-radius: 20px;
    height: 50px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      padding: 5px;
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color:$negro;
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $negro;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 20px;
      background-color: #ffffff;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 20px;
        transition: all 200ms ease;
      }
    }
  }

  .switchPerro {
    background-color: $naranja;
    width: 200px;
    display: inline-block;
    border-radius: 20px;
    height: 50px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      padding: 5px;
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color:$negro;
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $negro;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 20px;
      background-color: #ffffff;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 20px;
        transition: all 200ms ease;
      }
    }
  }

  .switchAdulto{
    background-color: $azul;
    width: 200px;
    display: inline-block;
    border-radius: 20px;
    height: 50px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      padding: 5px;
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color:$negro;
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $negro;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 20px;
      background-color: #ffffff;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 20px;
        transition: all 200ms ease;
      }
    }
  }

  .switchCachorro {
    background-color: $naranja;
    width: 200px;
    display: inline-block;
    border-radius: 20px;
    height: 50px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      padding: 5px;
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color:$negro;
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $negro;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 20px;
      background-color: #ffffff;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 20px;
        transition: all 200ms ease;
      }
    }
  }


.carro--flotante{
  display: flex;
  flex-direction: row;
  background-color: $crema;
  position: fixed;
  right: 0px;
  top: 300px;
  z-index: 100;

}
.carro__imagen{
  width: 100px;
}
.carro__num{
  font-size: 30px;
}



  .linea{
    border: 1px solid $naranja;
  }

  .lista{
 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
    list-style-type:none;
    line-height: 1px;

    &_item{
      list-style-type:none;
      flex-direction: column;
      padding: 10px;
      justify-content: center;
      align-content: center;
      box-shadow: 10px 10px 5px #aaaaaa;
      line-height: 10px;
   }

    &_imagen{
      background-color: whitesmoke;
    }

    &_nombre{
      align-content: center;
      justify-content: center;
      font-size: 20px;
      color: $azul;
      font-weight:bold;
    }
  }

.lista__botones{
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista__categorias{
  line-height: 15px;
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  justify-content: space-between;
  padding: 5px;
}
  .lista_boton{
    display: flex;
    justify-content: center;
    padding: 0.8em 0em;
    width:150px;
    background: #ff6e00;
    border-radius:15px;
    border:0;
    color:#fff;
    font-size:12px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight:bold;
    cursor:pointer;
    margin:1em 2em;
    text-transform:uppercase;
}
.light{
background: -moz-linear-gradient(-45deg,  #ff6e00 0%, #ff6e00 40%, #ffffff 50%, #ff6e00 60%, #ff6e00 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff6e00), color-stop(40%,#ff6e00), color-stop(50%,#ffffff), color-stop(60%,#ff6e00), color-stop(100%,#ff6e00));
background: -webkit-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -o-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -ms-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: linear-gradient(135deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e00', endColorstr='#ff6e00',GradientType=1 );
background-repeat: no-repeat;  
background-position:0px;
background-size:300%;  
}

.light:hover{
animation:light 1s;
-webkit-animation:light 1s;

}
@keyframes light {
  0% {
      background-position:-600px; 
  }
  100% { 
      background-position:0px; 
  }
  }
      
  @-webkit-keyframes light {
  0% {
      background-position:-600px; 
  }
  100% { 
      background-position:0px; 
  }
  }


  .lista__adoptar{
    display: flex;
    justify-content: center;
    padding: 0.8em 0em;
    width:200px;
    background: $azul;
    border-radius:15px;
    border:0;
    color:#fff;
    font-size:16px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight:bold;
    cursor:pointer;
    margin:1em 2em;
    text-transform:uppercase;
}
.light2{
background: -moz-linear-gradient(-45deg, $azul 0%, $azul 40%, #ffffff 50%, $azul 60%, $azul 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$azul), color-stop(40%,$azul), color-stop(50%,#ffffff), color-stop(60%,$azul), color-stop(100%,$azul));
background: -webkit-linear-gradient(-45deg,  $azul 0%,$azul 40%,#ffffff 50%,$azul 60%,$azul 100%);
background: -o-linear-gradient(-45deg,  $azul 0%,$azul 40%,#ffffff 50%,$azul 60%,$azul 100%);
background: -ms-linear-gradient(-45deg,  $azul 0%,$azul 40%,#ffffff 50%,$azul 60%,$azul 100%);
background: linear-gradient(135deg,  $azul 0%,$azul 40%,#ffffff 50%,$azul 60%,$azul 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$azul', endColorstr='$azul',GradientType=1 );
background-repeat: no-repeat;  
background-position:0px;
background-size:300%;  
}

.light2:hover{
animation:light 1s;
-webkit-animation:light 1s;

}
@keyframes light2 {
  0% {
      background-position:-600px; 
  }
  100% { 
      background-position:0px; 
  }
  }
      
  @-webkit-keyframes light {
  0% {
      background-position:-600px; 
  }
  100% { 
      background-position:0px; 
  }
  }


  .pie{
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: $crema;
    
    }
    .search-text{
      height: 100px;
      padding-bottom:30px;
    }
     
    .search-text .input-search{
     height:45px;
     width:20%;
     padding-left:20px;
    color: $azul;
    } 
    
    .search-text .btn-search{
       background:$naranja;
       border:none;
     color:#FFF;
     height: 45px;
       width: 80px;
    }
    
    .search-text h4{
       color:$azul;
       font-weight: 700;
    }
    
    footer{
     background-color: $crema;
      //padding: 60px 0px;
    }
    
    .container1{
      margin: 5px;
      display: flex;
      align-content: center;
      justify-content: center;
    }
    
    footer ul{
       list-style:none;
       margin:0 auto;
       display:inline-block;
       padding-top:50px;
    }
    
    footer ul li{
       float:left;
    }
    
    footer ul li a{
     color:#b1aca1;
       padding:20px;
    }
    
    footer ul li a:hover{
     color:#7dabdb;
     text-decoration:none;
    }
    
    .footer-top{
     padding-bottom:50px;
    }
    
    .footer-top .fa{
       font-size:18px;
       color: #FFF;
       padding-right:10px;
    }
    
    .footer-top a{
       color:#FFF;
       background: $azul; 
       padding: 10px;
    }
    
    .footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
      color:#7dabdb;
     text-decoration:none;
    }
    
    .copyright{
      background-color:#f0f0f0;
    }
    
    .copyright p{
     font-size:12px;
     padding:15px 0 10px 0;
    }
    
  
    
    .dropdown {
      display: none;
      position: relative;
      //display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }