$azul: #496eb5; 
$naranja: #ec6c24;
$crema: #edd29b;
$blanco: #ffffff;
$negro: #231f20;


html{
  margin: 2px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
    font-size: 18px;
    line-height: 1.4;
  }
  
  * {
    box-sizing: border-box;
  }
  

  .nav{
    display: block;
    font-size: 20px;
    color: $negro;
    background: $crema;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    align-items: center;


    .logo{
      width: 90px;
    }

    &__item{
      text-decoration: none;   
      margin: 5%;
      color: $negro;
    }

  }

  .outer-container {
    width: 100%;
    min-height: 600px;
  }
  
  .banner {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    background-color: #000;
    transform-style: preserve-3d;
    transform: translatez(0);
      
    &__image {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 800px;
      z-index: 10;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.8;
      transform: translatez(0);
    }
    
    &__caption {
      font-family: 'Poppins', sans-serif;
      width: 45%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(255,255,255, 0.7);
      height: auto;
      z-index: 20;
      text-align: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -10px;
      padding-bottom: 30px;
      padding-left: 50px;
      padding-right: 20px;
      
      & h1 {
        color: $naranja;
        font-size: 82px;
        font-weight: 30;
        letter-spacing: 1px;
        margin-bottom: 0;
        padding-top: 20px;
        margin-top: 20px;
        padding-right: 30px;
        line-height: 80px;

      }
      & h3{
        margin-top: 0;
        color: $azul;
        letter-spacing: 7px;
        font-size: 25px;
        font-weight: lighter; 
      }

      & p {
        color: $negro;
        padding-right: 30px;
      }
      
    }
  }

  .filtros{
    margin: 1%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  @mixin clearfix {
    zoom: 1;
    &:before,
    &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }
    &:after {
      clear: both;
    }
  }
  $background: #007DA6;
  $switchbg: #47A7DC;
  $white: #252222;

  .switchMacho {
    background-color: $switchbg;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    height: 40px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color: lighten($switchbg, 30%);
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $background;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 10px;
      background-color: #FFF;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 10px;
        transition: all 200ms ease;
      }
    }
  }

  .switchHembra {
    background-color: $switchbg;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    height: 40px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color: lighten($switchbg, 30%);
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $background;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 10px;
      background-color: #FFF;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 10px;
        transition: all 200ms ease;
      }
    }
  }

  .switchGato {
    background-color: $switchbg;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    height: 40px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color: lighten($switchbg, 30%);
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $background;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 10px;
      background-color: #FFF;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 10px;
        transition: all 200ms ease;
      }
    }
  }

  .switchPerro {
    background-color: $switchbg;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    height: 40px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color: lighten($switchbg, 30%);
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $background;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 10px;
      background-color: #FFF;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 10px;
        transition: all 200ms ease;
      }
    }
  }

  .switchAdulto{
    background-color: $switchbg;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    height: 40px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color: lighten($switchbg, 30%);
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $background;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 10px;
      background-color: #FFF;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 10px;
        transition: all 200ms ease;
      }
    }
  }

  .switchCachorro {
    background-color: $switchbg;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    height: 40px;
    padding: 2px;
    position: relative;
    @include clearfix;
    label {
      float: left;
      width: 50%;
      position: relative;
      z-index: 2;
      line-height: 40px;
      cursor: pointer;
      color: lighten($switchbg, 30%);
      border-radius: 10px;
    }
    input[type="radio"]{
      display: none;
      &:checked + label {
        color: $background;
        font-weight: bold;
      }
    }
    span {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      border-radius: 10px;
      background-color: #FFF;
      transition: all 200ms ease;
      &.right {
        left: 50%;
        border-radius: 10px;
        transition: all 200ms ease;
      }
    }
  }
  .linea{
    border: 1px solid $naranja;
  }

  .lista{
 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type:none;

    &_item{
      list-style-type:none;
      background-color: coral;
      flex-direction: column;
      padding: 10px;
      justify-content: center;
   }

    &_imagen{
      background-color: whitesmoke;
    }

    &_nombre{
      color: $azul;
      font-weight:bold;
    }
  }

  .lista_boton{
    padding: 0.8em 0em;
    width:200px;
    background: #ff6e00;
    border-radius:15px;
    border:0;
    color:#fff;
    font-size:16px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight:bold;
    cursor:pointer;
    margin:1em 2em;
    text-transform:uppercase;
}
.light{
background: -moz-linear-gradient(-45deg,  #ff6e00 0%, #ff6e00 40%, #ffffff 50%, #ff6e00 60%, #ff6e00 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff6e00), color-stop(40%,#ff6e00), color-stop(50%,#ffffff), color-stop(60%,#ff6e00), color-stop(100%,#ff6e00));
background: -webkit-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -o-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -ms-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: linear-gradient(135deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e00', endColorstr='#ff6e00',GradientType=1 );
background-repeat: no-repeat;  
background-position:0px;
background-size:300%;  
}

.light:hover{
animation:light 1s;
-webkit-animation:light 1s;

}
@keyframes light {
  0% {
      background-position:-600px; 
  }
  100% { 
      background-position:0px; 
  }
  }
      
  @-webkit-keyframes light {
  0% {
      background-position:-600px; 
  }
  100% { 
      background-position:0px; 
  }
  }
